---
import Layout from "@layouts/Layout.astro";
import Notation from "@components/ComboMaker.svelte";
---

<Layout title="Fatal Fury: COTW Combo Maker | Combolab">
  <main>
    <div class="mx-auto max-w-screen-md px-4 pt-10">
      <h1 class="mb-4 text-4xl tracking-wider text-yellow-200">
        <span class="font-display text-yellow-400">Fatal Fury: COTW</span>
        <span class="font-display text-yellow-200">— Combo Maker</span>
      </h1>
      <p class="mb-2 font-mono text-sm text-blue-200">
        Create FF: COTW combos and share them as a URL, image, or text.
      </p>
      <p class="-mt-2 mb-10 font-mono text-sm text-blue-200">
        スト６のコンボを入力し、URL、文字、絵文字、または画像として共有しましょう！
      </p>

      <Notation client:load />
    </div>
  </main>
</Layout>
