---
import Layout from '@layouts/Layout.astro';
import Notation from '@components/Notation.svelte';
---

<Layout title="2XKO Notation">
  <main>
    <h1 class="text-red-100">2XKO</h1>

    <Notation client:load />
  </main>
</Layout>
