---
import "@fontsource-variable/roboto-flex/wdth.css";

interface Props {
  title: string;
}

let year = new Date().getFullYear();

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="flex min-h-screen flex-col border-t-8 border-lime-400 bg-black text-white"
  >
    <div class="flex-grow">
      <slot />
    </div>
    <footer
      class="mx-auto my-10 max-w-lg px-8 text-center font-mono text-xs text-slate-700"
    >
      The 2XKO name is a registered trademark or trademark of Riot Games, Inc.
      Combolab is not affiliated with, endorsed, sponsored, or specifically
      approved Riot Games, Inc.
      <br />
      <br />
      Four Rays © {year} — All rights reserved.
    </footer>
  </body>
</html>
